<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Bienvenido</ion-title>
    <a style="text-decoration: none; color: white;" routerLink="/menu">
      🡠 salir
    </a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--VISUAL VISTA MENU -->
  <ion-card *ngIf="usuarioActivo">
    <img [src]="usuarioActivo.image">

    <ion-card-content>

      <!-- Botón -->
      <ion-row class="ion-padding">
        <ion-col size="12" class="ion-text-center">
          <ion-button size="small" shape="round">female</ion-button>
        </ion-col>
      </ion-row>

      <!-- Nombre del usuario -->
      <ion-row>
        <ion-col size="12">
          <ion-text>
            {{ usuarioActivo.firstName }}
            {{ usuarioActivo.lastName }}
          </ion-text>
        </ion-col>
      </ion-row>

      <!-- username -->
      <ion-row>
        <ion-col size="12">
          <ion-text>
            {{ usuarioActivo.username }}
          </ion-text>
        </ion-col>
      </ion-row>

      <!-- correo -->
      <ion-row>
        <ion-col size="12">
          <ion-text>Correo:</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-text>
            {{ usuarioActivo.email }}
          </ion-text>
        </ion-col>
      </ion-row>

    </ion-card-content>

    <ion-card-content class="ion-text-center">
      <ion-button routerLink="/producto" fill="outline">Ira a catalogo</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
