<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Catalogo</ion-title>
    <a style="text-decoration: none; color: white;" routerLink="/menu">
      🡠 perfil
    </a>
  
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Catalogo</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--VISUAL DE PRODUCTO-->
  
  <ion-list *ngIf="proS.productos">
    <section class="botones-container">
      <ion-button expand="block"  color="danger"  (click)="proS.retroceder()">Anterior</ion-button>
      <ion-button expand="block" (click)="proS.consultarProductos()">Siguiente</ion-button>
    </section>
    <ion-item *ngFor="let p of proS.productos">

      <ion-avatar>
        <img alt="Silhouette of a person's head" [src]="p.images[0]">
      </ion-avatar>

  <ion-card-content>
      <ion-list>
      <li>
        <ion-label>{{p.title}}</ion-label>
      </li>
      <li>
        <ion-text color="primary">{{p.price}}</ion-text>
      </li>
      <li>
        <ion-text color="success">{{p.discountPercentage}}%</ion-text>
      </li>

    </ion-list>
  </ion-card-content>

    </ion-item>
  </ion-list>

  
</ion-content>
